#img-bg{
    background-image: url('https://images.pexels.com/photos/2591198/pexels-photo-2591198.jpeg?cs=srgb&dl=pexels-yoss-cinematic-2591198.jpg&fm=jpg   ');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}